<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<h1>Stupid Coaching</h1>

<div class="message">
  <p><strong><%= @question%></strong></p>
  <p><em>-You</em></p>
</div>

<div class="message">
  <p><strong><%= @answer%></strong></p>
  <p><em>-Your Coach</em></p>
</div>


<a href="/ask" class="btn btn-primary new-question">Ask another question</a>

